---
import Layout from "@/layouts/Layout.astro";
import Navbar from "@components/NavBar.astro";
import Footer from "@components/Footer.astro";
import { Image } from "astro:assets";
import rodtang from "../images/rodtang.webp";

const entrenadores = [
  { nombre: "May", peso: "Muay Thai", foto: rodtang, link: "/may" },
  { nombre: "Rocky", peso: "MMA", foto: rodtang, link: "/rocky" },
];
---

<Layout title="Siam May Xerez | Gimnasio de Muay Thai en Jerez">
  <Navbar />
  <section class="min-h-dvh">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
      {
        entrenadores.map((entrenador) => (
          <a
            href={entrenador.link}
            class="border border-gray-300 rounded-lg p-4 text-center block"
          >
            <Image
              src={entrenador.foto}
              alt={entrenador.nombre}
              width={800}
              height={800}
              format="webp"
              quality={80}
              class="w-full rounded-lg"
            />
            <h3 class="mt-2 text-lg font-semibold">{entrenador.nombre}</h3>
            <p class="text-gray-600">{entrenador.peso}</p>
          </a>
        ))
      }
    </div>
  </section>
  <Footer />
</Layout>
