---
import { Image } from "astro:assets";
import entrenadores from "../images/entrenadores.webp";
import medel2 from "../images/medel2.webp";

interface Category {
  title: string;
  foto: ImageMetadata;
  alt: string;
}

const categories: Category[] = [
  {
    title: "Entrenadores",
    foto: entrenadores,
    alt: "Entrenador dando instrucciones durante una clase",
  },
  {
    title: "Luchadores",
    foto: medel2,
    alt: "Luchador practicando técnicas de Muay Thai",
  },
];
---

<div class="m-4">
  <div class="flex flex-col md:flex-row justify-center gap-6">
    {
      categories.map((category) => (
        <div class="w-full md:w-1/2">
          <a
            href={`/${category.title.toLowerCase()}`}
            class="relative flex items-center justify-center text-white text-xl lg:text-2xl xl:text-3xl 2xl:text-4xl 3xl:text-5xl font-bold rounded-lg uppercase"
            aria-label={`Ver sección de ${category.title.toLowerCase()}`}
          >
            <div class="overflow-hidden rounded-3xl w-full h-full">
              <Image
                src={category.foto}
                alt={category.alt}
                width={2560}
                height={1440}
                format="webp"
                quality={90}
                class="w-full h-full justify-center object-cover transform transition-transform duration-300 ease-in-out hover:scale-105"
              />
            </div>
            <div class="absolute inset-0 flex items-center justify-center pointer-events-none">
              <h3>{category.title}</h3>
            </div>
          </a>
        </div>
      ))
    }
  </div>
</div>
<style>
  a {
    cursor: url("/cursor.png"), auto;
  }
</style>
